@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<p>
    Select Date to View:<br />
    @Html.ActionLink("Sunday", "ScheduleViewer", null, new { day = "Sunday" }) |
    @Html.ActionLink("Monday", "ScheduleViewer", new { day = "Monday" }) |
    @Html.ActionLink("Tuesday", "ScheduleViewer", new { day = "Tuesday" }) |
    @Html.ActionLink("Wednesday", "ScheduleViewer", new { day = "Wednesday" }) |
    @Html.ActionLink("Thursday", "ScheduleViewer", new { day = "Thursday" }) |
    @Html.ActionLink("Friday", "ScheduleViewer", new { day = "Friday" }) |
    @Html.ActionLink("Saturday", "ScheduleViewer", new { day = "Saturday" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
        </tr>
    }

</table>
